/* You can add global styles to this file, and also import other style files */
.pivotrow{
    background-color: rgb(255, 215, 215) !important;
}

.pivotcol{
    background-color: rgb(220, 255, 220) !important;
}


.pivotelement{
    background-color: rgb(213, 213, 255) !important;
}
